<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>WebCorn</title>
  </head>
  <body>
    <div id="app">
        <div>
            <h1>Hello Webcorn!</h1>
        </div>
        <iframe style="display: block; height: 800px; width: 600px; border:1px; overflow: scroll;"
                src="{{ url_for('static', filename='project_wsgi/server/index.html') }}"></iframe>
    </div>
    <script>
        window.addEventListener('load', () => {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.mjs') }}", {type: 'module', scope: "{{ url_for('static', filename='project_wsgi') }}"})
                        .then(registration => {
                            console.log(`Service Worker registered with scope: ${registration.scope}`);
                        })
                        .catch(error => {
                            console.error(`Service Worker registration failed: ${error}`);
                        });
            }
        });
    </script>
  </body>
</html>