<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebCorn</title>
  </head>
  <body>
    <div id="app">
        <div>
            <h1>Hello Webcorn!</h1>
        </div>
        <div id="console">
        </div>
    </div>
    <script>
        const logContainer = document.getElementById('console');
        window.addEventListener('load', () => {
            if ('serviceWorker' in navigator) {
                const serviceWorkerScript = "{{ url_for('static', filename='service-worker.mjs') }}";
                const scope = "{{ url_for('static', filename='project_django') }}";
                const type = 'module';
                navigator.serviceWorker.register(serviceWorkerScript, {type, scope})
                    .then(registration => {
                        console.log(`Service Worker registered with scope: ${registration.scope}`);
                        setTimeout(()=>{
                            logContainer.innerHTML = `
                                <iframe style="display: block; height: 400px; width: 600px; border:1px; overflow: scroll;"
                                        src="{{ url_for('static', filename='project_django/server/index.html') }}"></iframe>
                            `;
                        }, 1000);
                    })
                    .catch(error => {
                        console.error(`Service Worker registration failed: ${error}`);
                    });
            }
        });
    </script>
  </body>
</html>